.my-index {
  padding: 20px;
}

.title {
  text-align: center;
}

.form-block {
  display: flex;
  flex-flow: column;
  border: 1px solid rgb(94, 45, 45);
  /* padding: 10px 10px; */
}

.form-block .form-group {
  display: flex;
  justify-content: space-between;
}

.form-block .form-title {
  font-size: 24px;
  display: block;
  background-color: lightgreen;
  padding: 10px 10px;
}

.form-item {
  padding-top: 10px;
  padding-bottom: 10px;
  flex-flow: column;
}

.form-item span {
  font-size: 14px;
  font-weight: 200;
}

.form-item input {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid rgba(173, 216, 230, .3);
  font-size: 16px;
  line-height: 16px;
  transition: border-bottom .6s;
  border-radius: 0;
  outline:none;
  -webkit-transition: border-bottom .6s;
  -moz-transition: border-bottom .6s;
  -ms-transition: border-bottom .6s;
  -o-transition: border-bottom .6s;
}

.form-item input:focus {
  border-bottom: 1px solid rgb(173, 216, 230);
}
